.navbar-offline-logo {
  margin-left: 50px;
}

.navbar-offline-rbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-offline-rbox-text {
  all: unset;
  color: #404660;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-weight: 500;
  padding: 0px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;
  margin: 0px 10px;
  cursor: pointer;
  transition: .1s;
}

.navbar-offline-rbox-signup {
  all: unset;
  color: #404660;
  background-color: rgba(0, 0, 0, 0);
  width: 125px;
  height: 40px;
  border-radius: 1px;
  border: 1px solid #404660;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-weight: 400;
  box-sizing: border-box;
  margin: 0px 10px;
  cursor: pointer;
  transition: .1s;
}

.navbar-offline-rbox-signup:hover {
  background-color: rgba(64, 70, 96, .03);
  box-shadow: 0px 0px 10px 0px rgba(64, 70, 96, .1);
}

.navbar-offline-rbox-personna {
  all: unset;
  color: #fff;
  background-color: #6B5AED;
  width: 125px;
  height: 40px;
  border-radius: 1px;
  display: flex;
  justify-content: space-around;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-weight: 400;
  align-items: center;
  margin: 0px 10px;
  cursor: pointer;
  transition: .2s;
}

.navbar-offline-rbox-personna:hover {
  box-shadow: 0px 0px 5px 0px rgb(107, 90, 237, 0.5) ;
}

@media screen and (max-width: 660px) {
  .navbar-offline-logo {
    margin-left: 10px;
  }

  .navbar-offline-rbox-signup {
    margin: 0px;
  }

  .navbar-offline-rbox-text {
    margin: 0px 3px 0px 0px;
    width: auto;
    text-align: center;
  }
}


@media screen and (max-width: 600px) {
  #navbar-offline-pricing-btn {
    display: none;
  }
}



@media screen and (max-width: 550px) {
  .navbar-offline-logo {
    margin-left: 10px;
  }

  .navbar-offline-icon {
    display: none;
  }

  .navbar-offline-rbox-signup {
    width: auto;
    padding: 0px 10px;
    margin: 0px;
  }

  .navbar-offline-rbox-personna {
    width: auto;
    padding: 0px 10px;
    /* margin: 0px; */
  }

}

@media screen and (max-width: 450px) {
  .navbar-offline-logo {
    margin-left: 10px;
  }

  .navbar-offline-rbox-signup {
    width: auto;
    padding: 0px 10px;
    margin: 0px;
  }

  .navbar-offline-rbox-personna {
    width: auto;
    padding: 0px 10px;
    margin: 0px 2px;
  }

  .navbar-offline-rbox-text {
    margin: 0px 3px 0px 0px;
    width: auto;
  }
}