.announce-item-root {}

.announce-item-root {
  width: 100%;
  min-height: 120px;

  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
  background-color: #fff;
  margin: 5px 0px;
  border-radius: 3px;
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  padding: 20px;
  position: relative;
}

.announce-item-company {
  all: unset;
  width: 95px;
  height: 95px;
  background-color: #f2f3ff;
  border-radius: 5px;
  object-fit: cover;
}

.announce-item-box {
  display: flex;
  height: 95px;
  flex-direction: column;
  margin-left: 20px;
}

.announce-item-box-title {
  font-family: 'Roboto',sans-serif;
  font-size: 1.2em;
  font-weight: 500;
  color: #404660;
}

.announce-item-box-cpname {
  font-family: 'Roboto',sans-serif;
  font-size: 1em;
  font-weight: 500;
  color: rgba(64, 70, 96, 0.5);
}

.announce-item-box-details {
  display: flex;
  flex-wrap: wrap;
}

.announce-item-box-details-box {
  display: flex;
  background-color: #f2f3ff;
  border-radius: 3px;
  align-items: center;
  height: 40px;
  padding: 0px 20px;
  margin: 10px 10px 0px 0px;
}

.announce-item-box-details-txt {
  font-family: 'Roboto', sans-serif;
  font-size: .875em;
  font-weight: 400;
  color: #404660;
  margin: 0px 10px;
}


.announce-item-btn {
  all: unset;
  display: flex;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.announce-item-btn-el {
  all: unset;
  width: 20px;
  height: 20px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: .5;
  cursor: pointer;
  transition: .2s;
}

.announce-item-btn-el:hover {
  opacity: 1;
}

@media screen and (max-width: 1050px) {
  .announce-item-box {
    display: flex;
    height: 100%;
    flex-direction: column;
    margin-left: 20px;
    width: 70%;
  }
}