#public-candidate-comp-root {
  display: grid;
  grid-template-columns: 80px 400px 100px 1fr 100px;
  padding: 80px 0px;
}

.pccr-title {
  all: unset;
  font-weight: 600;
  font-size: 1.5em;
  color: #404660;
}

.pccr-normal-txt {
  all: unset;
  font-weight: 400;
  font-size: 1em;
  color: #404660;
}

.pccr-box-txt {
  padding: 10px 30px;
  margin: 0px 3px;
  color: #246BF8;
  background-color: rgba(36, 107, 248, .15);
  border-radius: 3px;
  border: 1px solid rgba(36, 107, 248, 1);
  width: max-content;
}

.pccr-line {
  width: 100%;
  height: 1px;
  background-color: rgba(64, 70, 96, .1);
}

#pccr-left {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#pccrl-img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 50%;
}

#pccrl-skills {
  /* margin-top: 30px; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#pccrls-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#pccr-right {
  grid-column: 4;
}

#pccrr-desc {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start
}

#pccrr-exp {
  margin-top: 80px;
}

.pccrre-item {
  border-bottom: 1px solid rgba(64, 70, 96, .1);
  display: grid;
  grid-template-columns: 1fr 160px;
  padding: 20px 0px;
}

.pccrrei-titlebox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.pccrrei-jobtitle {
  grid-column: 1;
  grid-row: 1;
  font-weight: 400;
  font-size: 1em;
  color: rgba(64, 70, 96, 1);
}

.pccrrei-company {
  grid-column: 1;
  grid-row: 1;
  font-weight: 400;
  font-size: 1em;
  color: rgba(64, 70, 96, 1);
}

.pccrrei-date {
  grid-column: 2;
  grid-row: 1;
  font-weight: 400;
  font-size: 1em;
  color: rgba(36, 107, 248, 1);
  text-align: end;
}

.pccrrei-desc {
  grid-column: 1 / span 3;
  grid-row: 2;
  font-weight: 400;
  font-size: 1em;
  color: rgba(64, 70, 96, .6);
  margin-top: 0px;
}


#pccrr-qualif {
  margin-top: 60px;
}

.pccrrq-item {
  border-bottom: 1px solid rgba(64, 70, 96, .1);
  display: grid;
  grid-template-columns: 1fr 160px;
  padding: 10px 0px;
}

.--pccrre-last-item {
  border: none;
}


/** MEDIA QUERIES **/
@media screen and (max-width: 1150px) {
  #public-candidate-comp-root {
    display: grid;
    grid-template-columns: 20px 400px 50px 1fr 20px;
    padding: 80px 0px;
  }
}


@media screen and (max-width: 950px) {
  #public-candidate-comp-root {
    display: grid;
    grid-template-columns: 100px 1fr 100px;
    padding: 80px 0px;
  }

  #pccr-left {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #pccr-right {
    grid-column: 2;
    margin-top: 100px;
  }
}

@media screen and (max-width: 550px) {
  #public-candidate-comp-root {
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    padding: 80px 0px;
  }
}

@media screen and (max-width: 425px) {
  #public-candidate-comp-root {
    display: grid;
    grid-template-columns: 20px 1fr 20px;
    padding: 80px 0px;
  }
}