@import url('https://fonts.googleapis.com/css?family=Dosis:300,400,500,600&display=swap');

.triboo-select-root {
  display: flex;
  flex-wrap: wrap;
}

.triboo-select-box {
  width: 150px;
  height: 150px;
  border-radius: 4px;
  background-color: #fafbff;
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, .1);
  color: rgba(64, 70, 96, 0.35);
  cursor: pointer;
}

.triboo-select-box:hover {
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, .12);
  color: rgba(64, 70, 96, 0.5);
}

.triboo-select-img {
  width: 50%;
  height: 50%;
}

.triboo-select-title {
  font-family: 'Dosis', sans-serif;
  font-size: 1em;
  font-weight: 500;
  text-transform: uppercase;
}

.-triboo-active {
  background: linear-gradient(135deg, #D1CCFB, #6B5AED);
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, .20);
  color: #fff !important;
}

.-triboo-small {
  width: 125px;
  height: 125px;
}

.-triboo-tiny {
  width: 100px;
  height: 100px;
}

.triboo-select-label {
  font-family: 'Roboto', sans-serif;
  font-size: .875em;
  font-weight: 500;
  color: rgba(64, 70, 96, .7);
  text-transform: uppercase;
  margin: 10px;
}

@keyframes triboo-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.triboo-select-loading {
  border: 4px solid rgba(0, 0, 0, 0);
  border-left: 4px solid rgba(107, 90, 237, 1);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  animation-name: triboo-loading;
  animation-delay: 0s;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin: 5px;
}
