.comp-company-item-root {
  width: 320px;
  height: max-content;
  background-color: #fff;
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, .05);
  border-radius: 5px;
  padding: 20px 15px 0px 15px;
  box-sizing: border-box;
  margin-right: 10px;
  margin-bottom: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: .2s;
}

.--ccir-clickable {
  cursor: pointer;
}

.--ccir-clickable:hover {
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, .1);
}

.ccir-btn {
  all: unset;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  cursor: pointer;
  transition: .2s;
}

.ccirb-icon {
}


.--ccir-btn-update {
  background-color: rgba(36, 107, 248, .15);
  position: absolute;
  top: 10px;
  left: 10px;
}

.--ccir-btn-update:hover {
  background-color: rgba(36, 107, 248, .25);
}

.--ccir-btn-remove {
  background-color: rgba(64, 70, 96, .05);
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: 10px;
}

.--ccir-btn-remove:hover {
  background-color: rgba(64, 70, 96, .15);
}

.--ccir-btn-validate {
  background-color: rgba(0, 201, 167, .15);
  position: absolute;
  top: 10px;
  left: 10px;
}

.--ccir-btn-validate:hover {
  background-color: rgba(0, 201, 167, .25);
}

.--ccir-btn-cancel {
  background-color: rgba(255, 0, 0, .15);
  position: absolute;
  top: 10px;
  left: 40px;
}

.--ccir-btn-cancel:hover {
  background-color: rgba(255, 0, 0, .25);
}

.ccir-logo {
  width: 80px;
  height: 80px;
  background-color: #fff;
  border-radius: 5px;
  margin: 0px auto;
}


/* PUBLIC */
.ccir-public {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ccirp-name {
  all: unset;
  margin-top: 10px;
  font-weight: 700;
  font-size: 1.25em;
  color: rgba(64, 70, 96, 1);
}


.ccirp-sub {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.ccirps-phone {
  all: unset;
  margin-top: 10px;
  font-weight: 300;
  font-size: 1em;
  color: rgba(64, 70, 96, .6);
}

.ccirps-icon {
  margin: 0px 5px;
  opacity: .6;
}

.ccirps-link {
  all: unset;
  font-weight: 300;
  font-size: 1em;
  color: rgba(64, 70, 96, .6);
}


.ccirp-description {
  all: unset;
  width: calc(100% - 40px);
  word-break: break-all;
  margin-top: 20px;
  font-weight: 300;
  font-size: 1em;
  color: rgba(64, 70, 96, .6);
  text-align: center;
  margin-bottom: 30px;
}

.ccirp-box {
  padding: 20px 0px;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.ccirpb-txt {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ccirpbt-title {
  all: unset;
  font-weight: 500;
  font-size: .75em;
  color: rgba(64, 70, 96, .4);
  text-align: center;
}

.ccirpbt-info {
  all: unset;
  font-weight: 500;
  font-size: .875em;
  color: rgba(64, 70, 96, 1);
  text-align: center;
  word-break: break-all;
  margin-top: 5px;
  width: calc(100% - 10px);
}


.ccirp-line-horizontal {
  width: 320px;
  position: absolute;
  top: 0px;
  left: -15px;
  height: 1px;
  background-color: rgba(64, 70, 96, .1);
}

.ccirp-line-vertical {
  width: 1px;
  height: 50px;
  background-color: rgba(64, 70, 96, .05);
}


/* EDIT */
.ccir-edit {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ccire-logo {
  /* width: 100%;
  display: flex;
  justify-content: center; */
  margin: 15px 0px 10px 0px;
}

.ccirel-txt {
  all: unset;
  font-weight: 400;
  font-size: 1em;
  color: rgba(64, 70, 96, 1);
  transition: .2s;
  cursor: pointer;
}

.ccirel-txt:hover {
  color: #246BF8;
}

.--ccir-logo-empty {
  border: 1.5px solid rgba(0, 0, 0, 0);
  border-color: red !important;
}

.ccirp-open-offers {
  color: #00C9A7;
  padding: 10px 45px;
  background-color: rgba(0, 201, 167, .1);
  border-radius: 20px;
  margin-bottom: 20px;
  margin-top: 15px;
}

.ccirp-see-announce {
  all: unset;
  color: rgba(64, 70, 96, .4);
  font-size: .75em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 5px;
  transition: .1s;
  margin-bottom: 10px;
}

.ccirp-see-announce img {
  opacity: .4;
  width: 7px;
  margin-left: 5px;
  transition: .1s;
}

.ccirp-see-announce:hover {
  color: rgba(64, 70, 96, .8);
}

.ccirp-see-announce:hover img {
  opacity: .8;
}

/* MODAL STYLE */
.ccir-modal-background {
  background-color: rgba(0, 0, 0, 0.3);
  height: 100vh;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0px;
  left: 0px;
  z-index: 100;
}

.ccir-modal {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, .05);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 320px;
  box-sizing: border-box;
  padding: 30px 20px;
  height: auto;
  flex-wrap: wrap;
  /* flex-direction: column; */
}

.ccir-modal-txt {
  all: unset;
  color: #404660;
  font-weight: 400;
  font-size: 1em;
  display: block;
  margin: 20px 0px;
}

.ccir-modal-btn {
  all: unset;
  padding: 10px 20px;
  margin: 5px 10px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 1em;
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, .05);
  cursor: pointer;
}

.ccir-modal-btn:hover {
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, .1);
}