.new-announces-root {
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .05);
  border-radius: 5px;
  position: relative;
  box-sizing: border-box;
  padding-top: 30px;
  padding-bottom: 5px;
}

.new-announces-box {
  width: 750px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0px auto;
}

.new-announces-triboo-box {
  margin-left: 20px;
}

.new-announces-label {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-weight: 500;
  color: #404660;
  margin-left: 25px;
  margin-top: 50px;
}

.new-announces-btn-box {
  width: 750px;
  display: flex;
  justify-content: space-between;
  justify-items: center;
  margin: 40px auto;
}

.new-announces-btn-box-price {
  background-color: #f2f3ff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 50px;
}

.new-announces-btn-box-b {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 350px;
}

.new-announces-btn-box-btn {
  all: unset;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-weight: 500;
  color: #fff;
  width: 170px;
  height: 45px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: .2s;
  box-sizing: border-box;
}

.-validate {
  background-color: #6B5AED;
  box-shadow: 0px 0px 10px 0px rgba(107, 90, 237, .3);
}

.-validate:hover {
  box-shadow: 0px 0px 10px 0px rgba(107, 90, 237, .5);
}

.-cancel {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid red;
  color: red;
}

.-cancel:hover {
  background-color: rgba(255, 0, 0, .02);
}

.new-box-error-msg {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-weight: 300;
  color: red;
  text-align: center;
  margin: 0px 0px 20px 0px;
}