.new-announces-root {
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .05);
  border-radius: 5px;
  position: relative;
  box-sizing: border-box;
  padding-top: 30px;
  padding-bottom: 5px;
}

.new-announces-box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0px auto;
}

.new-announces-box-item {
  width: 50%;
  display: flex;
  justify-content: center;
}

.react-datepicker-wrapper {
  width: calc(100% - 40px);
  margin: 10px 0px;
}

.new-announces-triboo-box {
  margin-left: 20px;
}

.new-announces-label {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-weight: 500;
  color: #404660;
  margin-left: 25px;
  margin-top: 50px;
}

.new-announces-btn-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  justify-items: center;
  flex-wrap: wrap;
  margin: 40px auto;
}

.new-announces-btn-box-price {
  background-color: #f2f3ff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 40px);
  height: 50px;
}

.new-announces-btn-box-b {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%
}

.new-announces-btn-box-btn {
  all: unset;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-weight: 500;
  color: #fff;
  width: calc(50% - 25px);
  height: 45px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: .2s;
  box-sizing: border-box;
}

.new-announces-btn-box-btn:disabled {
  opacity: .5;
  cursor: default;
}

.new-announces-box-item-cardsection {
  width: calc(50% - 40px);
  margin-left: 20px;
}

.-validate {
  background-color: #6B5AED;
  box-shadow: 0px 0px 10px 0px rgba(107, 90, 237, .3);
  margin: 0px 0px 0px 20px;
}

.-validate:hover {
  box-shadow: 0px 0px 10px 0px rgba(107, 90, 237, .5);
}

.-cancel {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid red;
  color: red;
  margin: 0px 20px 0px 0px ;
}

.-cancel:hover {
  background-color: rgba(255, 0, 0, .02);
}

.new-box-error-msg {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-weight: 300;
  color: red;
  text-align: center;
  margin: 0px 0px 20px 0px;
}

@media screen and (max-width: 800px) {
  .new-announces-box-item-cardsection {
    width: calc(100% - 40px);
    margin-left: 20px;
  }
}

@media screen and (max-width: 600px) {
  .new-announces-triboo-box {
    width: 100%;
    margin: 0px;
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 550px) {
  .new-announces-box-item {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .new-announces-btn-box-btn {
    width: calc(50% - 30px);
  }

  .new-announces-btn-box-b  {
    justify-content: center;
  }

  .-validate {
    margin: 10px 10px;
  }
  .-cancel {
    margin: 10px 10px;
  }
}

@media screen and (max-width: 400px) {
  .new-announces-box-item-cardsection {
    width: calc(100% - 20px);
    margin-left: 10px;
  }
}