#cr-items {
  height: 100%;
  width: calc(100% - 100px);
  margin: 20px auto 100px auto;
  display: flex;
  flex-wrap: wrap;
}

.cri-nocompany {
  color: rgba(64, 70, 96, 1);
  font-weight: 400;
  font-size: 1em;
  text-align: center;
  margin: 20px auto;
  background-color: #fff;
  box-shadow: 0px 5px 20px 0px rgba(64, 70, 96, .05);
  /* width: 200px; */
  padding: 20px 40px;
  border-radius: 3px;
}

@media screen and (max-width: 920px) {
  #cr-items {
    width: calc(100% - 40px);
  }
}

@media screen and (max-width: 700px) {
  #cr-items {
    justify-content: center;
  }
}

@media screen and (max-width: 600px) {
  #cr-items {
    width: calc(100% - 20px);
    justify-content: center;
  }
}