.menu-item-root {
  width: 170px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  align-items: center;
  cursor: pointer;
  transition: .2s;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.menu-item-root:hover {
  background-color: rgba(242, 243, 255, .3);
}

.-root-active {
  background-color: #f2f3ff !important;
}

.menu-item-icon {
  opacity: .2;
  margin-left: 10px;
}

.-icon-active {
  opacity: 1;
}

.menu-item-label {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-weight: 500;
  color: rgba(64, 70, 96, .2);
  margin-left: 15px;
}

.-label-active {
  color: rgba(64, 70, 96, 1);
}