.profil-settings-root {
  width: 500px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
  margin: 100px 50px;
  padding: 20px 0px;
}

@media screen and (max-width: 850px) {
  .profil-settings-root {
    margin: 100px auto;
  }
}

@media screen and (max-width: 630px) {
  .profil-settings-root {
    width: calc(100% - 30px);
    margin: 50px 15px;
  }
}