#dashboard-root {
  display: flex;
  flex-wrap: wrap;
}

#dr-pages {
  width: calc(100% - 250px);
  height: 100vh;
  overflow: scroll;
}

@media screen and (max-width: 850px) {
  #dr-pages {
    width: 100%;
    height: 100%;
    overflow: inherit;
  }
}