.description-root {
  width: 450px;
  display: flex;
  flex-direction: column;
  margin: 15px !important;
}

.description-title {
  color: #404660;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-weight: 500;
}

.description-box {
  width: 100%;
  height: 170px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
}

.description-box-label {
  color: #404660;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-weight: 400;
  margin: 20px 0px 10px 25px;
}

.description-box-input {
  height: 95px;
  width: calc(100% - 50px);
  margin-left: 25px;
  border: 1px solid rgba(64, 70, 96, .2);
  border-radius: 5px;
  outline: none;
  resize: none;
  box-sizing: border-box;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: .875em;
  font-weight: 400;
  color: #404660;
  transition: .1s;
}

.description-box-input::placeholder {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-weight: 300;
  font-style: italic;
  color: #404660;
  opacity: .5;
}

.description-box-input:hover {
  border-color: rgba(64, 70, 96, .3);
}

.description-box-input:focus {
  border-color: rgba(107, 90, 237, .5);
}

.description-box-input:disabled {
  opacity: .5;
}

.description-box-error {
  color: red;
  font-family: 'Roboto', sans-serif;
  font-size: .875em;
  font-weight: 400;
  margin-left: 25px;;
}

.-input-error {
  border-color: rgba(255, 0, 0, 0.5) !important;
}

.desc-label-box {
  display: flex;
}

@keyframes desc-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.desc-loading-el {
  border: 4px solid rgba(0, 0, 0, 0);
  border-left: 4px solid rgba(107, 90, 237, 1);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  animation-name: desc-loading;
  animation-delay: 0s;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin: 20px 0px 10px 10px;
}

@media screen and (max-width: 1174px) {
  .description-root {
    width: 600px;
  }
}

@media screen and (max-width: 600px) {
  .description-root {
    width: 100%;
  }
}