.profil-menu-root {
  min-height: calc(100vh - 60px);
  background-color: #fff;
  width: 215px;
  margin: 0px;
  overflow: hidden;
}

.profil-menu-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 90px;
}